.contact-content {
  /* background-color: rgb(240, 240, 248); */
  height: 85vh;
  margin-top: 8px;
  margin-bottom: 8px;
  position: relative;
  overflow: hidden;
  border-radius: 7px;
}
.contact-content::after {
  content: "";
  background: url(../images/vecteezy_cartoon-library-interior-with-many-books_21493395.jpg);
  background-size: cover;
  height: inherit;
  width: 100%;
  position: absolute;
  opacity: 0.3;
  z-index: -1;
  /* border-radius: 11px; */
  top: 0;
}
.contact-content h2 {
  padding: 8px 0;
}
